# LuaLaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.synctex(busy)
*.dvi
*.log
*.log

# Hyperref
*.out

# BibTeX
*-blx.bib
*.bbl
*.blg
*.bcf
*.run.xml

# Glossaries
*.glg
*.glo
*.gls
*.ist

# Nomenclatures
*.ilg
*.nlo
*.nls

# Lilypond
tmp*.pdf

# OS X
*.DS_Store

# Codex
*.codex

# Lunar
*.lunarignore

# mirrored from .lunarignore
/assets/
Maths-refresh-courses/
Introductory_email*
Sys-engineering-EES*
**/Linear Algebra/Exam/
**/Linear Algebra/linear_algebra_python_exam_solutions_with_data/
PAIND/
